:root {
  --main-color: #007bff;
};

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black; /* Fallback color */
}

h1 {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}


#root {
  text-align: center;
}

/* Logo Styles */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Keyframe Animation */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360de);
  }}